$base-color-dark: #c4c4c4;
$border-radius: 0.5rem;

.card {
  box-shadow: 0px 0px 20px $base-color-dark;
  border-radius: $border-radius;
  padding: 2rem;
  width: 300px;
  margin: 0 0.5rem 4rem;
  background-color: white;
  text-align: center;
  position: relative;

  &__title {
    margin: 2rem 0 1rem 0;
    
  }
}

.card-wrapper {
  counter-reset: number;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem 0;
}

.card ::before {
  counter-increment: number;
  content: counter(number);
  width: 4rem;
  height: 4rem;
  background: #43538c;
  position: absolute;
  display: block;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  border-radius: 50%;
  top: -2rem;
  left: 7.4rem;
}
