$base-color-dark: #c4c4c4;
$border-radius: 0.5rem;

.card {
  box-shadow: 0px 0px 20px $base-color-dark;
  border-radius: $border-radius;
  padding: 2rem;
  width: 300px;
  margin: 0.5rem;
  background-color: white;
  text-align: center;
  position: relative;
}
