.nav {
  font-weight: 700;
  border-bottom: 1px solid black;
  color: #43538c;

  // &__toggle {
  //   position: absolute;
  //   cursor: pointer;
  //   margin: 0rem 1rem;
  //   right: 0;
  // }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
  }
}
