@use "../base/typography";
$border-radius: 0.5rem;

.nav {
  font-family: "Montserrat";
  font-weight: 700;
  border-bottom: 1px solid black;
  color: #43538c;


  &__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
  }
    
  
}

img{
  height: 6em;
}
li{
  list-style: none;
  border-radius: $border-radius;

  &:first-child{
    margin-right: auto;
  }
}

a{
  text-decoration: none;
  color:black;
}

@media only screen and (min-width:600px) {

  .nav{

    &__toggle{
      display: none;

    
    }

    &__menu{
      flex-direction: row;
      
      
    }
   


  }

}